@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js);

/* Font used: Clear Sans. */
@font-face{
	font-family: Clear Sans;
	src: url(css/fonts/ClearSans-Thin.ttf);
}

/* General tag changes. */
p{
	font-size:100%;
}

h1{
	font-size:500%;
}

body {
	font-size:100%;
	font-family:Clear Sans, Charcoal, sans-serif;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

ol {
	position:absolute;
	list-style-type: none;
	margin: 0;
	right:0;
	top:25%;
	width: 75px;
	background-color: transparent;
	position: fixed;
}

li a {
	opacity: 0.5;
	display: block;
	color: #000;
	padding: 18px 18px;
	text-decoration: none;
}

li a.active {
	background:rgba(1,1,1,0.40);
	color: white;
	opacity:1;
}

li a:hover:not(.active) {
	<!-- For browser compatability all four transitions are included.-->
	-webkit-transition: transform 0.25s, opacity 0.25s, background-color 0.25s ease-out;
	-moz-transition: transform 0.25s, opacity 0.25s, background-color 0.25s ease-out;
	-o-transition: transform 0.25s, opacity 0.25s, background-color 0.25s ease-out;
	transition: transform 0.25s, opacity 0.25s, background-color 0.25s ease-out;
	
	transform: translate(0px, -5px);
	background:rgba(1,1,1,0.40);
	opacity: 1;
	color: white;
}

footer{
    position: fixed;
	right: 0px;
    bottom: 0px; 
    width: 100%;
	text-align: right;
}

/* Animations and custom classes. */
/* Fade in animation - used by body of all pages. */
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 5%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUp {
	-webkit-animation:1s fadeInUp;
	-moz-animation:1s fadeInUp;
	animation: 1s fadeInUp;
}

/* Fade in right - used in homepage. */
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(10%, 0, 0);
	}
	
	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInRight {
	-webkit-animation: 0.5s fadeInRight forwards;
	-moz-animation: 0.5s fadeInRight forwards;
	animation: 0.5s fadeInRight forwards;
}

.fadeInRight.one {
	opacity: 0;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.fadeInRight.two {
	opacity: 0;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.fadeInRight.three {
	opacity: 0;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

.fadeInRight.four {
	opacity: 0;
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.fadeInRight.five {
	opacity: 0;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

/* Fade in right tjen fade up/down. - used in homepage. */
@keyframes fadeInRightUp {
	from {
		opacity: 0;
		transform: translate3D(50%, 0, 0);
	}
	20% {
		opacity: 1;
		transform: none;
	}
	80% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translate3D(0, -100%, 0);
	}
}

@keyframes fadeInRightDown {
	from {
		opacity: 0;
		transform: translate3D(50%, 0, 0);
	}
	20% {
		opacity: 1;
		transform: none;
	}
	80% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translate3D(0, 100%, 0);
	}
}

.fadeInRightUp {
	-webkit-animation: 5s fadeInRightUp forwards infinite;
	-moz-animation: 5s fadeInRightUp forwards infinite;
	animation: 5s fadeInRightUp forwards infinite;
}

.fadeInRightDown {
	-webkit-animation: 5s fadeInRightDown forwards infinite;
	-moz-animation: 5s fadeInRightDown forwards infinite;
	animation: 5s fadeInRightDown forwards infinite;
}

.fadeInRightUp.one {
	opacity: 0;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.fadeInRightDown.two {
	opacity: 0;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

.fadeInRightUp.three {
	opacity: 0;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

.fadeInRightDown.four {
	opacity: 0;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	animation-delay: 4s;
}

.fadeInRightUp.five {
	opacity: 0;
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}

/* Tooltips. Used for right navbar. */
.tooltip {
	position: relative;
	display: inline-block;
	-webkit-animation: 0.5s fadeInRight forwards;
	-moz-animation: 0.5s fadeInRight forwards;
	animation: 0.5s fadeInRight forwards;
}

.tooltip.one {
	opacity: 0;
}

.tooltip.two {
	opacity: 0;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.tooltip.three {
	opacity: 0;
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

.tooltip.four {
	opacity: 0;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.tooltip .tooltiptext {
	visibility: hidden;
	color: #fff;
	text-align:left;
	
	opacity: 0;
	transition: opacity 0.25s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Font Awesome icons and stuff adjusting them. */
.fa {
	padding: 15px;
	font-size: 15px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	color: #6A5ACD;
}

.fa:hover{
	-webkit-transition: color 0.05s, transform 0.25s ease-out;
	-moz-transition: color 0.05s, transform 0.25s ease-out;
	-o-transition: color 0.05s, transform 0.25s ease-out;
	transition: color 0.05s, transform 0.25s ease-out;
	
	transform: translate(0px, -7px);
}

.fa-facebook:hover	{
	color: #3B5998;
}

.fa-twitter:hover	{
	color: #00aced;
}

.fa-github:hover	{
	color: #6cc644;
}

.fa-linkedin:hover	{
	color: #007bb6;
}

.fa-steam:hover	{
	color: #000000;
}

.fa-download {
	width:75px;
	font-size:75px;
}

.fa-download:hover {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	
	color: #C0C0C0;
	animation: 0.75s downloadWidget;
}

.fa-arrow-down {
	color: #ffffff;
	padding: 10px 5px;
}

.fa-arrow-down:hover {
	color: #ffffff;
	padding: 10px 5px;
}

@keyframes downloadWidget {
	25% {
		transform: translate3D(0, 5px, 0);
	}
	50% {
		transform: translate3D(0, -2px, 0);
	}
	75% {
		transform: translate3D(0, 5px, 0);
	}
}

/* Custom classes used for resume. */
.right{
    float:right;
}

.left{
    float:left;
}

/* Link adjustments. */
a{
	color: #c79800;
	text-decoration: none;
	outline:0;
}

a:hover{
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	
	color: #ffd92e;
}

/* Basic button adjustment */
button {

  font-family:Clear Sans, Charcoal, sans-serif;
  display: inline-block;
  border-radius: 0px;
  background-color: transparent;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  color: #FFFFFF;
  text-align: left;
  font-size: 24px;
  padding: 0px 0px;
  width: 250px;
}

.rotated{
    transform:rotate(180deg); 
    -webkit-transform:rotate(180deg); 
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg); 
}
/* Custom class for portfolio section. */

.portfolio {
	background-color: transparent;
	padding: 0px 0px;
	max-width: 225px;
	max-height: 180px;
	margin:0px;
	border-radius: 0px;
	border: 0;
	outline:none;
	opacity:0.4;
}

.portfolio:hover {
	-webkit-transition: transform 0.25s, opacity 0.25s ease-in-out;
	-moz-transition: transform 0.25s, opacity 0.25s ease-in-out;
	-o-transition: transform 0.25s, opacity 0.25s ease-in-out;
	transition: transform 0.25s, opacity 0.25s ease-in-out;
	transform:scale(1.05);
	opacity:0.65;
}

.portfolio:active {
	transform:scale(1.00);
	opacity:1;
	
}

.portImage{
	float:right;
	width:260px;
	height:140px;
	margin-right:2%
}

.portImage:hover{
	-webkit-transition: transform 0.25s ease-in-out;
	-moz-transition: transform 0.25s ease-in-out;
	-o-transition: transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
	
	transform-origin: top right;
	transform:scale3d(3, 3, 1);
	
}

/* CSS Backgrounds */
#gradient{
	background: #00191a;
	background: linear-gradient(#006266, #00191a);
	background-size: 100% 125%;
	color:white;
}

#gradient-tall{
	background: #00191a;
	background: linear-gradient(#006266, #00191a);
	background-size: 100% 175%;
	color:white;
}